Tests: crs-blocks
Depends:
 @,
 coreruleset,
 curl,
 nginx,
Restrictions: allow-stderr, isolation-container, needs-root

Tests: gzip-static
Depends:
 @,
 coreruleset,
 curl,
 gzip,
 nginx,
Restrictions: allow-stderr, isolation-container, needs-root
